--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu

fastapi[all]
uvicorn
langchain
langchain-community
langchain-chroma
langchain-groq
sentence-transformers
youtube-transcript-api
pydantic
python-dotenv
chromadb
